[submodule "PDFArchiver/External/OpenSSL/src"]
	path = PDFArchiver/External/OpenSSL/src
	url = https://github.com/openssl/openssl.git
[submodule "PDFArchiver/External/ArchiveLib"]
	path = PDFArchiver/External/ArchiveLib
	url = https://github.com/PDF-Archiver/ArchiveLib.git
