build
Breakpoints_v2.xcbkptlist
UserInterfaceState.xcuserstate
PDFArchiver/External/OpenSSL/LICENSE
PDFArchiver/External/OpenSSL/lib/*
!PDFArchiver/External/OpenSSL/lib/.gitkeep
PDFArchiver/External/OpenSSL/include/*
!PDFArchiver/External/OpenSSL/include/.gitkeep
.env.default
Pods
PDFArchiver.xcworkspace/xcuserdata
