<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>D5EE0815-884F-4D05-A619-E6BF7D2978B9</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64e</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPad8,1</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
