name: CI

on: [push]

jobs:
  SwiftLint:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: GitHub Action for SwiftLint
      uses: norio-nomura/action-swiftlint@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
