on:
  pull_request:

name: Run PR Checks

jobs:
  SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: GitHub Action for SwiftLint (Only files changed in the PR)
        uses: stanfordbdhg/action-swiftlint@v4
        env:
          DIFF_BASE: ${{ github.base_ref }}

  Build:
    runs-on: macos-26
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Setup Swift
        uses: JulianKahnert/setup-swift@patch-1
        with:
          swift-version: "6.2"

      - name: Build ArchiverLib
        run: cd ArchiverLib && swift build
