name: Xcode Build Tests
on:
  push:
  pull_request:
jobs:
  macos:
    # runs-on: macOS-latest
    runs-on: macos-11.0
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Build and Test
        run: "xcodebuild test -workspace PDFArchiver.xcworkspace -scheme iOS -destination 'platform=iOS Simulator,name=iPhone 11,OS=14.2'"
        env:
          DEVELOPER_DIR: /Applications/Xcode_12.2.app/Contents/Developer
